---
import { getEntry } from "astro:content";
import Prose from "../components/Prose.astro";
import BaseLayout from "./BaseLayout.astro";
const {frontmatter} = Astro.props;

---

<BaseLayout pageTitle={frontmatter.title}>
  <h1 class="text-themeGray-800">{frontmatter.title}</h1>
  <p class="pb-3 font-normal text-lg text-themeGray-800">
    {frontmatter.pubDate.toString().slice(0, 10)}
  </p>
  <p class="pb-3 font-normal text-lg text-themeGray-800">
    <em>{frontmatter.description}</em>
  </p>
  <p class="pb-3 font-normal text-lg text-themeGray-800">
    Written by: {frontmatter.author}
  </p>
  <slot />
</BaseLayout>
